@charset "UTF-8";
/** Montserrat Regular **/
@import url("https://fonts.googleapis.com/css?family=Open+Sans");
@font-face {
  font-family: "Montserrat";
  font-weight: 400;
  font-style: normal;
  src: url("../fonts/Montserrat-Regular.eot");
  src: url("../fonts/Montserrat-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/Montserrat-Regular.woff2") format("woff2"), url("../fonts/Montserrat-Regular.woff") format("woff"); }

/** Montserrat SemiBold **/
@font-face {
  font-family: "Montserrat";
  font-weight: 600;
  font-style: normal;
  src: url("../fonts/Montserrat-SemiBold.eot");
  src: url("../fonts/Montserrat-SemiBold.eot?#iefix") format("embedded-opentype"), url("../fonts/Montserrat-SemiBold.woff2") format("woff2"), url("../fonts/Montserrat-SemiBold.woff") format("woff"); }

/** Montserrat Bold **/
@font-face {
  font-family: "Montserrat";
  font-weight: 700;
  font-style: normal;
  src: url("../fonts/Montserrat-Bold.eot");
  src: url("../fonts/Montserrat-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/Montserrat-Bold.woff2") format("woff2"), url("../fonts/Montserrat-Bold.woff") format("woff"); }

/** Montserrat ExtraBold **/
@font-face {
  font-family: "Montserrat";
  font-weight: 800;
  font-style: normal;
  src: url("../fonts/Montserrat-ExtraBold.eot");
  src: url("../fonts/Montserrat-ExtraBold.eot?#iefix") format("embedded-opentype"), url("../fonts/Montserrat-ExtraBold.woff2") format("woff2"), url("../fonts/Montserrat-ExtraBold.woff") format("woff"); }

/* Placeholder Example
.class_name {
    @include placeholder {
        color: red;
    }
}*/

.color_white {
  color: #ffffff; }


/*--------------------  Gradient  --------------------*/
.bg_gradient_blue, header {
  background: #005DA9;
  background: -moz-linear-gradient(-45deg, #005DA9 0%, #0068bd 100%);
  background: -webkit-linear-gradient(-45deg, #005DA9 0%, #0068bd 100%);
  background: linear-gradient(135deg, #005DA9 0%, #0068bd 100%);
}

::selection {
  background: #efefef;
  color: #000000; }

::-moz-selection {
  background: #efefef;
  color: #000000; }

body {
  margin: 0px;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #242424;
  line-height: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scroll-behavior: smooth; }
  body a {
    color: #1308FE;
    text-decoration: none;
    outline: 0;
    -webkit-transition: all 0.3s ease-out 0s;
    -moz-transition: all 0.3s ease-out 0s;
    -o-transition: all 0.3s ease-out 0s;
    transition: all 0.3s ease-out 0s; }
    body a:hover, body a:active, body a:focus {
      color: #271cff;
      outline: 0;
      text-decoration: none; }


h1, h2, h3, h4, h5, h6, p {
  margin: 0;
  padding: 0;
  line-height: normal;
  color: #242424; }

h1 {
  font-family: "Montserrat", sans-serif;
  font-weight: 800;
  font-size: 70px;
  line-height: 75px;
  text-transform: uppercase; }

h2 {
  font-family: "Montserrat", sans-serif;
  font-weight: 800;
  font-size: 50px;
  line-height: 56px;
  padding-bottom: 30px;
  text-transform: uppercase; }

h3 {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 20px; }

h4 {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 22px;
  margin-bottom: 10px; }

h5 {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px; }

p {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 26px; }

@media screen and (max-width: 1199px) {
  h1 {
    font-size: 55px;
    line-height: 57px; }
  h2 {
    font-size: 38px;
    line-height: 42px;
    padding-bottom: 20px; }
  h5 {
    font-size: 18px;
    line-height: 27px; }
  .btn_lg {
    font-size: 16px;
    padding: 18px 40px; } }

@media screen and (max-width: 991px) {
  p {
    font-size: 15px;
    line-height: 23px; } }

@media screen and (max-width: 575px) {
  h1 {
    font-size: 50px;
    line-height: 54px; } }

@media screen and (max-width: 480px) {
  h1 {
    font-size: 42px;
    line-height: 46px; }
  h2 {
    font-size: 30px;
    line-height: 35px; }
  h4 {
    font-size: 15px;
    line-height: 20px;
    margin-bottom: 5px; }
  h5 {
    font-size: 17px;
    line-height: 24px; } }


header {
  padding: 80px 0;
  position: relative; }
  
.section1 {
  padding: 80px 0; }
  


.sub_page .text_only h3 {
  margin-bottom: 4px;
  margin-top: 40px; }

.sub_page .text_only p {
  padding-bottom: 15px;
  color: #444444; }

.d-none-1024 {
  display: block; }

.d-block-1024 {
  display: none; }
